@media screen and (min-width: 450px) and (max-width: 1200px) {

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    
    .cabecalho {
        margin-left: 5px;
    }

    .cabecalho-imagem {
        margin: 0px 15px;
    }

    .cabecalho-menu {
        gap: 15px;
        text-align: justify;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-top: 35px;
    }

    .conteudo-principal-imagem {
        width: 60vw;
    }
}