@media screen and (min-width: 400px) and (max-width: 760px) {

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    
    .cabecalho {
        margin-left: 5px;
    }

    .cabecalho-imagem {
        margin: 0px 15px;
    }

    .cabecalho-menu {
        gap: 15px;
        text-align: justify;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-top: 35px;
    }

    .conteudo-principal-imagem {
        width: 60vw;
    }

    .conteudo-principal-escrito-botao {
        width: 70vw;
    }

    .conteudo-secundario {
        margin-left: 5%;
    }
}

@media screen and (min-width: 760px) and (max-width: 1200px) {
    .cabecalho {
        margin-left: 5px;
    }

    .conteudo-principal {
        padding-left: 15px;
        padding-top: 35px;
    }

    .conteudo-secundario {
        padding-left: 15px;
        align-items: center;
    }

    .conteudo-secundario-paragrafo {
        text-align: justify;
    }
}